@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'KhM';
    src: url('./assets/fonts/KHMenu.woff2') format('woff2');
}

@font-face {
    font-family: 'KhMB';
    src: url('./assets/fonts/KHMenuBold.woff2') format('woff2');
}
@font-face {
    font-family: 'KhMBI';
    src: url('./assets/fonts/KHMenuBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'KhMI';
    src: url('./assets/fonts/KHMenuItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'KhT';
    src: url('./assets/fonts/KHTitle.woff2') format('woff2');
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-6px); }
    100% { transform: translateY(0); }
}

.float-slow {
    animation: float 6s ease-in-out infinite;
}


html, body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-color: #000000;
    font-family: 'KhM', monospace;
    overflow-x: hidden;
    min-height: 100vh;
}

.main-content {
    position: relative;
    z-index: 1;
}

@keyframes page-slide-fade-in-right {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.page-enter {
    will-change: transform, opacity;
    animation: page-slide-fade-in-right 550ms ease-out both;
}

.custom-button {
    position: static;
    width: 20rem;
    height: 4rem;
    padding: 0 2rem;
    border: 5px solid black;
    border-radius: 0 25px 0 25px;
    font-weight: bold;
    color: #000000;
    background: linear-gradient(90deg, #000000 5% , #646464 35%, #ffffff 94%);
    transition: all 1s ease;
    overflow: visible;
    box-shadow: 0 0 12px rgba(0,0,0,0.6);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.custom-button:hover {
    background: #3c8944;
    color: #ffffff;
    border: 5px solid #9be07c;
    transform: translateX(4rem);
}

.custom-button::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url('assets/images/Munny Orb.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease, left 0.3s ease;
    z-index: 1;
}

.custom-button:hover::before {
    opacity: 1;
    left: -20px;
}

.active-button {
    background: #3c8944;
    color: #ffffff;
    border: 5px solid #9be07c;
    transform: translateX(2rem);
}

.active-button::before {
    opacity: 1;
    left: -20px;
}

.glass-shine {
    background: linear-gradient(
            135deg,
            rgba(255,255,255,0.15) 0%,
            rgba(255,255,255,0.05) 50%,
            rgba(255,255,255,0.15) 100%
    );
    backdrop-filter: blur(20px);
}
